<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="./assets/cataratas-iguazu.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Cataratas del Iguazú</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. In minus inventore quibusdam, aperiam quas quis nulla numquam voluptates, repellendus sed consectetur obcaecati voluptate animi atque ex quia nobis reprehenderit optio!</p>
        <p class="card-text"><small class="text-muted">Visto por última vez hace 3 minutos.</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/Ushuaia.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ushuaia</h5>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, quae fugiat repudiandae, reiciendis nesciunt quia minima veniam quo, dolorum dolorem quos tempore praesentium quas! Excepturi reiciendis sunt natus cumque iure.</p>
        <p class="card-text"><small class="text-muted">Visto por última vez hace 1 hora.</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="./assets/Calafate.jpg"  alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Calafate</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore doloremque cum, tenetur corporis unde cupiditate repudiandae magni iste illo dolorem explicabo doloribus fugit ducimus quis omnis, delectus eum nulla non!</p>
        <p class="card-text"><small class="text-muted">Visto por última vez hace 50 minutos.</small></p>
      </div>
    </div>
  </div>