<aside id="sidebar" class="sidebar">
    <div class="d-flex flex-column flex-shrink-0 " >
        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link collapsed" href="https://www.google.com/">
                <span class="bi bi-airplane-fill">
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="https://www.google.com/">
                <span class="bi bi-car-front-fill">
                    </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="https://www.google.com/">
                <span class="bi bi-camera-fill">
                    </span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="https://www.google.com/">
                <span class="bi bi-house-door-fill">
                    </span>
                </a>
            </li>      
            <li class="nav-item">
                <a class="nav-link collapsed" href="https://www.google.com/">
                <span class="bi bi-binoculars-fill">
                    </span>
                </a>
            </li>  
            <li class="nav-item">
                <a class="nav-link collapsed" href="https://www.google.com/">
                <span class="bi bi-cup-hot-fill">
                    </span>
                </a>
            </li>                          
        </ul>
    </div>
</aside>
